<html>
    <head>
        <title>Executive View</title>
        <meta charset="utf-8" />
        <meta http-equiv="refresh" content="15" />
        <!-- Load c3.css -->
        <link href="c3/c3.css" rel="stylesheet">
    </head>
    <!-- Load d3.js and c3.js -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="c3/c3.min.js"></script>
    <body>
        <h1>Executive View</h1>
        <p><a href="{{ url_for('operations') }}">Operations View</a></p>
        <div id="chart"></div>
        <script>
            var chart = c3.generate({
                data: {
                    x: 'x',
                    y: 'y',
                    xFormat: '%Y-%m-%d %H:%M:%S',
                    columns: {{ columns }}
                },
                axis: {
                    x: {
                        type: 'timeseries',
                        // if true, treat x value as localtime (Default)
                        // if false, convert to UTC internally
                        localtime: false,
                        tick: {
                            format: '%H:%M:%S'
                        }
                    },
                    y: {
                        label: 'Percent Malfunctioning'
                    }
                }
            });

setTimeout(function () {
    //    chart.load({
    //        columns: [
    //            ['data3', 400, 500, 450, 700, 600, 500]
    //        ]
    //    });
}, 1000);
        </script>
    </body>
</html>
